Source: shntool
Section: sound
Priority: optional
Maintainer: Caleb Epstein <cae@bklyn.org>
Build-Depends: debhelper (>> 2.0.0)
Standards-Version: 3.2.1

Package: shntool
Architecture: any
Depends: ${shlibs:Depends}
Depends: shorten
Recommends: flac, sox
Description: Multi-purpose WAV and SHN file processing and reporting utility.
 Shntool is a multi-purpose tool for processing and reporting on files in
 Shorten and WAVE format.  It is can report the size and duration of
 WAVE and SHN files, correct files which are not properly
 CD-sector-aligned, and stream SHN files to WAVE or raw audio samples.

